---
layout: base
title: Contact
---


%div{:class=>'projects'}
  %header
    %h2{:id=>'project-title'}
    <a href="mailto:wesleyhales@gmail.com">email</a> or <a href="http://www.twitter.com/wesleyhales">Twitter @wesleyhales</a>
    %br
    %br
