---
layout: base
title: Contact
---


%div{:class=>'projects'}
  %header
    %h2{:id=>'project-title'}
    <a href="mailto:wesleyhales@gmail.com">email</a> or <a href="http://www.twitter.com/wesleyhales">Twitter @wesleyhales</a>
    %br
    %br
    %object{:width => "520",:height => "520"}
      %param{:name => "movie", :value => "http://www.parleys.com/dist/share/parleysshare.swf"}/
      %param{:name => "allowFullScreen", :value => "true"}/
      %param{:name => "wmode", :value => "direct"}/
      %param{:name => "bgcolor", :value => "#222222"}/
      %param{:name => "flashVars", :value => "sv=true&pageId=3653"}/
      %embed{:allowfullscreen => "true", :bgcolor => "#222222", :flashVars => "sv=true&pageId=3653", :height => "395", :src => "http://www.parleys.com/dist/share/parleysshare.swf", :type => "application/x-shockwave-flash", :width => "395"}/
    %br
    %br
    %object{:width => "520",:height => "520"}
      %param{:name => "movie", :value => "http://www.parleys.com/dist/share/parleysshare.swf"}/
      %param{:name => "allowFullScreen", :value => "true"}/
      %param{:name => "wmode", :value => "direct"}/
      %param{:name => "bgcolor", :value => "#222222"}/
      %param{:name => "flashVars", :value => "sv=true&pageId=3587"}/
      %embed{:allowfullscreen => "true", :bgcolor => "#222222", :flashVars => "sv=true&pageId=3587", :height => "395", :src => "http://www.parleys.com/dist/share/parleysshare.swf", :type => "application/x-shockwave-flash", :width => "395"}/
