---
layout: base
title: Contact
---


%div{:class=>'projects'}
  %header
    %h2{:id=>'project-title'}
    <a href="mailto:wesleyhales@gmail.com">email</a> or <a href="http://www.twitter.com/wesleyhales">Twitter @wesleyhales</a>
    <br/> <br/>
    <iframe src="http://player.vimeo.com/video/27534958" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        
