---
layout: base
title: Design
---


%div{:class=>'design'}
  %header
    %h2{:id=>'design-title'}
      I've been meaning to add this section ever since I started blogging, but am just now getting around to it. Here's all my ideas, projects, and stuff I designed (but never implemented). If you want the PSD files, send me an <a href="mailto:wesleyhales@gmail.com">email</a>.
    .design-content
      .design-item
        Rough draft of a mobile analytics concept home page graphic:<br/>
        %a{:href => "/images/design/first-post/layout1-mod.png"}
          %img{:height => "360", :src => "/images/design/first-post/layout1-mod-small.png", :width => "500"}/
      .design-item
        A fully implemented Firefox theme circa 2009. Over 1.2 million installs and 300k active daily users<br/>
        %a{:href => "/images/design/first-post/ff3-anthem.png"}
          %img{:src => "/images/design/first-post/ff3-anthem-small.png", :width => "500"}/
      .design-item
        Another Firefox theme which was (close but) never implemented. Inspired by SGU.<br/>
        %a{:href => "/images/design/first-post/ff-recovery.png"}
          %img{:src => "/images/design/first-post/ff-recovery-small.png", :width => "500"}/
      .design-item
        An idea I had for open source project prototyping. Your apps run in the cloud, etc... 
        %a{:href => "http://techcrunch.com/2011/08/29/yc-funded-bushido-an-app-store-for-the-web-that-can-kickstart-your-side-projects/"}Bushido came along shortly after I stalled on the idea.<br/>
        %a{:href => "/images/design/first-post/cormada-home.png"}
          %img{:src => "/images/design/first-post/cormada-home-small.png", :width => "500"}/
        <br/>
        %a{:href => "/images/design/first-post/cormada-detail.png"}
          %img{:src => "/images/design/first-post/cormada-detail.png", :width => "500"}/
      .design-item
        These concepts went along with the first graphic in this list<br/>
        %a{:href => "/images/design/first-post/demo-charts-2.png"}
          %img{:src => "/images/design/first-post/demo-charts-2-small.png", :width => "500"}/
        <br/>
        %a{:href => "/images/design/first-post/demo-charts-1.png"}
          %img{:src => "/images/design/first-post/demo-charts-1-small.png", :width => "500"}/