---
layout: base
title: About Us
---


%div{:class=>'design'}
  %header
    %h1
      About The Hales
    %p
      We are the Hales family and are looking to rent a home in the bay area (as close to Mountain View as possible). We've been renting in Atlanta
      for a little over 3 years and are relocating to the Bay Area.
    %p
      Here is a referral letter from our current landlord. You can download the
      %a{:href=>"https://drive.google.com/file/d/0B3SCILK6XyYLYmY2bVU3S25OQUR3WVpIdXhfaVFFX2xyLUNR", :target=>"blank"}
        original copy here.
    %a{:href=>"https://drive.google.com/file/d/0B3SCILK6XyYLYmY2bVU3S25OQUR3WVpIdXhfaVFFX2xyLUNR", :target=>"blank"}
      %img.max-width-50{:src => "/images/rental/referral.png"}/
    %p.twentypx-top
      We are a family of 4 (plus 2 French bulldogs). We don't consider our dogs "pets", but some landlords might. It's up
      to you on how you wish to refer to our furry family members.
      %a{:href=>"/images/rental/IMG_0033.JPG", :target=>"blank"}
        %img.max-width-50{:src => "/images/rental/IMG_0033.JPG"}/
    %p.twentypx-top
      And finally, this is our awesome family. We're super clean people and we'll take great care of your rental property.
      %a{:href=>"/images/rental/fam.jpg", :target=>"blank"}
        %img.max-width-50{:src => "/images/rental/fam.jpg"}/
