@import "partials/reset";
@import "partials/base";
/*@import "partials/brand";*/
/*@import "partials/global";*/
@import "partials/navmenu";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: .9em;
    font-family: proxima-nova-extra-condensed,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    position:relative;
    /*width:100%;*/
}

.fontface body {
  h1,h2,h3{
  font-family: AvenirRegular, 'Lucida Grande', sans-serif;
  }
}


a, a:visited {
    text-decoration: none;
    color: #39C;
}

a:hover {
    text-decoration: underline;
}

h1 {
   font-size: 1.8em;
   font-weight: normal;
   padding: 17px 0 7px 0;
   width: 100%;
   margin: 0 auto 0 auto;
}

h2 {
   font-size: 1.3em;
   font-weight: normal;
   padding: 17px 0 7px 0;
   width: 100%;
   margin: 0 auto 0 auto;
}

p {
  margin: 7px 0 0 0;
}

/*************************************************
Specific Awestruct extension style
*************************************************/
pre {
  font-family: courier;
}

.tag-0 {
  font-size: 100%;
}
.tag-1 {
  font-size: 140%;
}
.tag-2 {
  font-size: 180%;
}
.tag-3 {
  font-size: 220%;
}
.tag-4 {
  font-size: 260%;
}
.tag-5 {
  font-size: 300%;
}
.tag-6 {
  font-size: 300%;
}



.pagination-links {
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  .page-link, a, .current-page, span {
    padding: .6ex;
  }
  .page-link, a, .current-page {
    border: 1px solid #888;
  }
  .current-page {
    border: 1px solid #555;
    background-color: #ddd;
    font-weight: bold;
  }
  .previous-link, .next-link {
    font-weight: bold;
  }
}

em {
  font-weight: bold;
}

/*TODO - move*/
/*************************************************
Defined fonts
*************************************************/

@font-face {
  font-family: AvenirDemi;
  src: url(/type/AvenirNextLTPro-Demi.otf);
  src: local('AvenirDemi'),
         url(/type/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face {
  font-family: AvenirRegular;
  src: url(/type/AvenirNextLTPro-Regular.otf);
  src: local('AvenirRegular'),
         url(/type/AvenirNextLTPro-Regular.otf) format("opentype");
}

/*TODO - move*/
/*************************************************
Site Navigation
*************************************************/
body>header {
    background: url(../images/skin/renewal/header-bg-pattern.gif) top left repeat-x;
}
div.header-box {
   background: url(../images/skin/renewal/header-bg2.gif) top center no-repeat;
   height: 155px;
   position: relative;
   width: 100%;
}


/*making logo absolute to stay aligned with toolbar*/
div.header-box > .logo-bold {
   position: absolute;
   top: 10px;
   left: 6%;
   font-family: AvenirDemi, 'Lucida Grande', sans-serif;
   font-size: 1.5em;
    color: #fff;
}

div.header-box > .logo-bold span {
   font-family: AvenirRegular, 'Lucida Grande', sans-serif;
}

div.header-box > nav {
   right: 3%;
   top: 62px;
   position: absolute;
}

.borderradius nav.site a,
.borderradius nav.console a {
   opacity: 1.0;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.borderradius nav.site a {
   background: #f6f6f6;
}

.borderradius nav.console a {
   /*background: #e8e8e8;*/
}

#menu > li {
   height: 30px;
   margin: 0 5px;
}

#menu li {
   float: left;
   position: relative;
   list-style: none;
   z-index: 10;
}

#menu a {
   text-decoration: none;
   color: #bfe3f8;
   display: block;
   padding: 8px 14px;
   margin: 0;
   font-size: 1.1em;
}

/* main level link on hover and selected */
ul#menu li.selected > a,
ul#menu li > a:focus,
ul#menu li > a:hover,
ul#menu li:hover > a {
   background-color: rgba(255, 255, 255, .17);
   color: #fff;
}

ul#menu li ul li a {
   color: #777;
}

ul#menu li ul li a:hover,
ul#menu li ul li a:focus {
   color: #000;
   font-weight: bold;
}

/*transition*/
nav a {
   padding: 5px 10px; /*background: #9c3;*/
   -webkit-transition: background .3s ease, color 0.2s linear;
   -moz-transition: background .3s ease, color 0.2s linear;
   -o-transition: background .3s ease, color 0.2s linear;
   transition: background .3s ease, color 0.2s linear;
}

/*************************************************
Left Toolbar/Column
*************************************************/

body aside{
    padding: 7px 0 7px 0;
    display:block;
    position: absolute;
    top: 92px;
    right: 3%;
    width: 389px;

}

body aside .shadow-helper{
    overflow: hidden;
/*	margin: 0 -16px;*/
    padding: 10px 0 0 16px;
    background: url(../images/skin/renewal/right-col-bg.gif) top left no-repeat;
    min-height: 800px;
}

div.left-toolbar {
   border-radius: 5px;
   background-color: #fff;
   width: 360px;
}


div.left-toolbar > section > header > h2,
div.left-toolbar > section > header > div > h2  {
   border-bottom: 1px solid #777;
   color: #777;
}

div.left-toolbar > section {
   position: relative;
   width: 90%;
   margin: 0 auto;
}

section.tags a {
   font-size: 82%;
   color: #174e6e;
}

h2.tweets-title {
    position: relative;
}

h2.tweets-title > a > img {
    position:absolute;
    right: 5px;
}

h2.tweets-title > a:visited {
    color: #777;
}

section.tweets #twitter_div ul li {
  /* background: #f8f8f8 -moz-linear-gradient(90deg, rgba(0, 0, 0, .08) 2%, rgba(255, 255, 255, .1) 98%);
     background: #f8f8f8 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .08)));*/
   border: 1px solid #ececec;
   border-radius: 7px;
   padding: 5px;
   margin: 5px;
}

section.tweets div.actions {
   font-size: 80%;
}

.book-container{
  width: 100%;
  text-align:center;
  padding: 10px;
}

/*************************************************
Main Content
*************************************************/

div#main {
   display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 154px 364px 0 0;
}

div#post-container {
/*   border: 3px solid #c7d4dc;*/
   width: 87%;
   padding: 0 0 0 0;
   margin: 10px auto 0 auto;
}

.post-preview{
  width: 95%;
  header {
    //position: relative;
    border-bottom: 1px dotted #999;
    margin: 0 0 10px 0;
  }
  .post {
    border: none;
    padding: 0;
    h2.title {
      //border-bottom: 1px dotted #999;
      font-size: 149%;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      width: auto;
      //position:absolute;
      //bottom: 2px;
      //left: 3px;
    }
    h4.tags {
      margin: 10px 0 7px 0;
      background-color: #FAFAFA;
    }
  }
}

.post {
  padding-bottom: 2em;
  margin: 2em 2em 2.5em 0;
  border-bottom: 1px solid #888;
  h2 {
    font-size: 149%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  h2.title {
    font-size: 149%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  h3 {
    font-size: 120%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  h3.date {
    font-size: 80%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #999;
    position:absolute;
    text-align:center;
  }

  .date-box {
    float:left;
    margin: 0 10px 0 0;
    .date-day,
    .date-month,
    .date-year {
      margin: 0px;
      padding: 0px;
      color: #999;
      text-align:center;
      font-size: 90%
    }

    .date-day{
      font-size: 150%
    }

    .date-year {
      font-size: 50%
    }
  }

  h4 {
    font-size: 90%;
    font-weight: bold;
  }
  h4.tags {
      font-size: 90%;
      border-bottom: 1px dotted #999;
      margin: 0 0 7px 0;
      text-align: right;
      font-weight: normal;
      font-family: AvenirRegular;
      color: #999;
  }
  h4.tags a {
      color: #6D90BD;
  }
  .content {
    font-size: 1em;
      p {
        padding: 5px 0 5px 0;
      }
  }
  ul {
    list-style: circle;
  }
  ol, ul {
    list-style-position: inside;
    li {
        margin:5px 0 5px 0;
    }
  }
}

.fontface .post header  {
  font-family: AvenirRegular, 'Lucida Grande', sans-serif;
}
.no-fontface .post header {
  font-family: 'Lucida Grande', sans-serif;
}



.notes {
  border: 1px solid #ececec;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  padding: 10px;
  margin: 15px;
  width: 39%;
  float: left;
  text-align: center;
  border-radius: 7px;
}

.notif {
  border: 1px solid #ececec;
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(top, #ffff88 0%, #ffffc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff88), color-stop(100%,#ffffc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff88 0%,#ffffc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff88 0%,#ffffc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff88 0%,#ffffc9 100%); /* IE10+ */
  background: linear-gradient(top, #ffff88 0%,#ffffc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc9',GradientType=0 ); /* IE6-9 */
  padding: 10px;
  margin: 15px;
  width: 39%;
  float: left;
  text-align: center;
  border-radius: 7px;
}

.sticky-top-right {
    position:fixed;
    top:10px;
    right:0;
    width:250px
}

.download {
    padding: 10px;
  margin: 15px 15px 0 0;
  width: 38%;
  float: right;
  text-align: right;
}

.toc-list {
  margin: 10px 0 0 0;
  max-width: 300px;
}

.toc-list li {
  margin: 3px 0;
  padding: 8px 5px 5px 5px;
  background-color: #eee;
  border-radius: 7px;
}

/*************************************************
Design page
*************************************************/
div.design-item {
  border: 1px solid #ececec;
  border-radius: 7px;
  padding: 5px;
  margin: 15px;
  text-align: center;
  -moz-box-shadow: 0 0 5px 5px #ececec;
  -webkit-box-shadow: 0 0 5px 5px#ececec;
  box-shadow: 0 0 5px 5px #ececec;
  max-width: 510px;
}

/*************************************************
Media queries
*************************************************/

/* iOS/android phone landscape screen width*/
@media screen and (max-device-width: 480px) and (orientation:landscape) {

    body>aside {
        display:none;
    }

    div#main {
        margin: 154px 0 0 0;
    }

    div#post-container {
        width: 90%;
    }

    div.header-box nav.console {
        top: 111px;
    }

    div.post {
        margin: 2em 1em 2em 1.5em;
    }
}

@media screen and (max-device-width: 480px) and (orientation:portrait) {

    body>aside {
        display:none;
    }

    div#main {
        margin: 154px 0 0 0;
    }

    div#post-container {
        width: 90%;
    }

    div.header-box nav.console {
        top: 111px;
    }

    div.post {
        margin: 2em 1em 2em 1.5em;
    }
}

@media screen and (min-device-width: 600px) and (orientation:portrait) {

    body>aside {
        display:none;
    }

    div#main {
        margin: 154px 0 0 0;
    }

    div#post-container {
        width: 90%;
    }

    div.header-box nav.console {
        top: 111px;
    }

    div.post {
        margin: 2em 1em 2em 1.5em;
    }
}

/* iOS/android phone portrait screen width*/
@media screen and (max-device-width: 320px) {

    body>aside {
        display:none;
    }

    div#main {
        margin: 154px 0 0 0;
    }

    div#post-container {
        width: 90%;
    }

    div.header-box nav.console {
        top: 111px;
    }

    div.post {
        margin: 2em 1em 2em 1.5em;
    }
}

/*************************************************
Utils
*************************************************/
.transition {
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

.none {
    display: none
}

.notnone {
      display: default;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 100;
}

.max-width-100 {
      max-width: 100%;
}

/*DISQUS*/
.dsq-widget-list {
  font-size: 90%;
}

a.dsq-widget-user {
  font-weight: bold;
  color: #1670A3;
}

.gist {
  font-size: 80%;
}