!!! 5 
%html
  %head
    %title
      wesleyhales.com: #{page.title}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/global.css?v31', :media=>'screen, print' }
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>'/blog.atom' } 
    %script{:type => "text/javascript", :src  => "/js/modernizr.js", :defer => "defer"}
            
  %body
    %header
      .header-box{:onclick=>"window.location = 'http://wesleyhales.com'"}
        .logo-bold<
          wesleyhales
          %span><
            \.com
        %nav.console
          %ul#menu
            %li#home
              %a{:href => "/index.html"} Blog
            %li#design
              %a{:href => "/design/?p=design"} Projects
            %li#projects
              %a{:href => "/contact/?p=contact"} Me
    %aside#rightcol
      .shadow-helper
        .left-toolbar
          %section.tags
            %header
              %h2.tags-title
                Upcoming Talks
              .book-container
                %a{:href => "http://iloveapis2013.com/", :target => "blank"}
                  %img.float-left{:src => "/images/icons/apigee-conf.PNG"}/
                %a{:href => "https://therichwebexperience.com/conference/fort_lauderdale/2013/12/speakers/wesley_hales", :target => "blank"}
                  %img.float-right{:src => "/images/icons/RWX-CDW_125X125_generic.png"}/
          %section.clear.recent-comments
            %header
              #recentcomments.dsq-widget
                %h2.dsq-widget-title 
                  Recent Comments
                %script{:src =>"http://wesleyhales.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=200", :type =>"text/javascript"} 
          %section.tags
            %header 
              %h2.tags-title
                My Book
              .book-container
                %a{:href => "http://shop.oreilly.com/product/0636920024088.do"}
                  %img{:src => "/images/icons/mybook.png"}/
          %section{:class=>'tweets'}
            %header 
              %h2{:class=>'tweets-title'}
                %a{:href => "http://twitter.com/wesleyhales"}
                  %img{:src => "/images/bird_16_blue.png"}/
                  Follow @wesleyhales

    #main
      %div{:id=>'post-container'}
        .article-list
          ~ content
    %br{:class=>'clear'}

    %script{:src => "/js/site.js", :type => "text/javascript", :defer => "defer"}
    = google_analytics