!!! 5 
%html
  %head
    %title
      wesleyhales.com: #{page.title}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/global.css?v31', :media=>'screen, print' }
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>'/blog.atom' } 
    %script{:type => "text/javascript", :src  => "/js/modernizr.js", :defer => "defer"}
    %script{:type => "text/javascript", :src  => "//www.google-analytics.com/cx/api.js?experiment=0000001"}
    :javascript
      var image_variations = [
        'original.png',
        'variation1.png',
        'variation2.png'
      ]

      // 2. Choose the Variation for the Visitor
      var variation = cxApi.chooseVariation();


    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1241000-10', 'auto');
      ga('send', 'pageview');
  %body
    %header
      .header-box{:onclick=>"window.location = 'http://wesleyhales.com'"}
        .logo-bold<
          wesleyhales
          %span><
            \.com
        %nav.console
          %ul#menu
            %li#home
              %a{:href => "/index.html"} Blog
            %li#design
              %a{:href => "/design/?p=design"} Projects
            %li#projects
              %a{:href => "/contact/?p=contact"} Me
    %aside#rightcol
      .shadow-helper
        .left-toolbar
          %section.tags
            %header
              %h2.tags-title
                Upcoming Events
              .upcoming-container
                %a{:href => "http://fluentconf.com/javascript-html-2015/public/schedule/speaker/109402", :target => "blank"}
                  %img.float-left{:src => "/images/icons/fluent2013_logo_reg.gif", :width => "150px"}/
                %a{:href => "http://devnexus.com/s/speakers", :target => "blank"}
                  %img.float-right{:src => "/images/icons/devnexus.png"}/
          %section.clear.recent-comments
            %header
              #recentcomments.dsq-widget
                %h2.dsq-widget-title 
                  Recent Comments
                %script{:src =>"http://wesleyhales.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=200", :type =>"text/javascript"} 
          %section.tags
            %header 
              %h2.tags-title
                My Book
              .book-container
                %a{:href => "http://www.amazon.com/HTML5-JavaScript-Apps-Wesley-Hales/dp/1449320511/"}
                  %img{:src => "/images/icons/mybook.png"}/
          %section.tweets{:style=>"margin: 20px 0 0 0;"}
            %header
              %a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "276405487782739969", :href => "https://twitter.com/wesleyhales"} Tweets by @wesleyhales
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



    #main
      %div{:id=>'post-container'}
        .article-list
          ~ content
    %br{:class=>'clear'}

    %script{:src => "/js/site.js", :type => "text/javascript", :defer => "defer"}
    %img{border: "0", src: "//54.183.41.184/beacon.php?ss_ad_client=cacbdce0e986dc8e"}/
    :javascript
      <!--
      var ss_ad_client = 'cacbdce0e986dc8e';
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript'; s.async = true;
        s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '54.183.41.184/pov.js';
        var t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);
      })();
      //-->